<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <h1> Home</h1>
        <nav>
            <a href="/logout" class="btn">Logout</a>
        </nav>
    </header>
    <div class="userdetails">
        <img src="/{{userData.image}}" alt="User Image">
        <br>
        <span>Name:</span><span>{{userData.name}}</span><br>
        <span>Email:</span><span>{{userData.email}}</span><br>
        <span>Email:</span><span>{{userData.gender}}</span><br>
        <span>Age:</span><span>{{userData.age}}</span>
    </div>
</body>
</html>
